
.main-div {
  display: flex;
  flex-direction: column;
}


.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.mat-table-sticky {
  // background: #59abfd;
  opacity: 1;
}

.mat-header-cell, .mat-footer-cell, .mat-cell {
  min-width: 80px;
  box-sizing: border-box;
}
