
<ng-container class="main-container" fullscreen>
  <mat-toolbar color="primary" class="main-header">
    <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>

     <a class="navbar-brand" align="right">
      {{'Sitetitle' | translate }}
    </a>
    <span class="app-toolbar-filler"></span>
    <mat-form-field appearance="outline" class="mat-select-lang">
      <mat-select [ngModel]="language" #langselect (selectionChange)="translate.use(langselect.value)">
        <mat-option *ngFor="let lang of translate.getLangs()" [value]="lang">
          {{ lang.toUpperCase() }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button class="menu-button" mat-icon-button [matMenuTriggerFor]="submenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #submenu="matMenu">
      <button mat-menu-item (click)="navigate('picto')">
        <mat-icon>picture_in_picture</mat-icon>
        <span>Picto</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="navigate('carousselpicture')">
          <mat-icon>camera</mat-icon>
          <span>Carrousel</span>
        </button>
        <mat-divider></mat-divider>
      <button mat-menu-item (click)="navigate('picture')">
          <mat-icon>camera_alt</mat-icon>
          <span>Images</span>
        </button>
        <mat-divider></mat-divider>
        <button mat-menu-item (click)="navigate('user')">
            <mat-icon>supervised_user_circle</mat-icon>
            <span>Utilisateurs</span>
          </button>
          <mat-divider></mat-divider>
        <button mat-menu-item (click)="navigate('choice')">
          <mat-icon>tune</mat-icon>
          <span>Choix</span>
        </button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav mode="side" opened class="sidenav">
      <mat-nav-list (click)="sidenav.close()">
        <a mat-list-item routerLink="/">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </a>

        <a mat-list-item routerLink="/users">
            <mat-icon>people</mat-icon>
            <span>Users</span>
        </a>

        <a mat-list-item routerLink="/about">
            <mat-icon>question_answer</mat-icon>
            <span>About</span>
        </a>
        <a mat-list-item routerLink="/register">
            <mat-icon>person_add</mat-icon>
            <span>Register</span>
        </a>

        <a mat-list-item routerLink="/login">
            <mat-icon>account_circle</mat-icon>
            <span>Login</span>
        </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="main-content">
      <div class="spinner-container" *ngIf="loading">
        <mat-spinner></mat-spinner>
      </div>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container >
  <mat-toolbar class="main-footer">Footer</mat-toolbar>



</ng-container>


